<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="header">
          <a href="/">
            <img src="/image/logo.PNG" alt="다이닝코드">
          </a>
        </div>
    </header>

    <div class="container joinPage">
        
        <div class="jointitle">
            <h2>신규 회원가입</h2>
        </div>

        <form action="/join" method="POST" enctype="multipart/form-data">
            <div class="joinForm">
                <div class="joinItem">
                        <strong>아이디</strong>
                        <input name="userId" id="userId" type="text"  placeholder="회원 아이디" value="test">
                        <button type="button" id="checkIdBtn" class="check-btn">중복확인</button>
                        <span id="userIdValidation" class="validation-msg"></span>
                </div>
                <div class="joinItem">
                    <strong>비밀번호</strong>
                    <input name="password"  id="password" type="password" placeholder="비밀번호">
                    <span id="passwordValidation" class="validation-msg"></span>
                </div>
                
                <div class="joinItem">
                    <strong>이름</strong>
                    <input name="name" type="text" placeholder="이름 입력" value="홍길동">
                </div>
                <div class="joinItem">
                    <strong>생년월일</strong>
                    <input name="birthNum" placeholder="YYYY-MM-DD" value="2000-xx-xx">
                </div>
                <div class="joinItem">
                    <strong>주소</strong>
                    <input name="address" type="text" placeholder="주소" value="조선">
                </div>
                <div class="joinItem d-flex">
                    <strong>휴대폰</strong>
                    <input name="phone" type="tel" placeholder="'-'를 빼고 숫자만 입력">
                    <button>인증번호 발송</button>
                </div>
                
                <div class="joinItem">
                    <input name="imgUrl" id="imgUrl" type="file" placeholder="회원사진" style="width: 200px;">
                </div>

                <div class="joinBtn" id="joinBtn">
                    <button type="submit" type="button" class="btn btn-dark loginButton">회원가입</button>
                </div>
            </div>
        </form>
    </div>

    <%- include('footer.ejs') %>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>

        
        let isIdValidated = false;
        
        const passwordRegex = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()`])[a-z\d!@#$%^&*()`]{8,}$/
        /*
            (?=.*[a-z]): 최소 한 개의 소문자가 포함되어야 합니다.
            (?=.*\d): 최소 한 개의 숫자가 포함되어야 합니다.
            (?=.*[@$!%*?&]): 최소 한 개의 특수 문자(@$!%*?& 중 하나)가 포함되어야 합니다.
            [A-Za-z\d@$!%*?&]{8,}: 위의 조건을 모두 충족하면서, 총 길이가 8자 이상이어야 합니다.

            한줄 요약 : 영문, 특문, 숫자가 들어가고 최소 8자리 이상
        */ 


    
        document.getElementById('checkIdBtn').addEventListener('click',function(e){
            const userId = document.getElementById('userId').value
            console.log(userId)
            fetch('/checkId', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userId: userId })
            })
            .then(response => response.json())
            .then(data => {
                // 서버에서 받은 응답에 따라 처리
                if (data.exists) {
                    alert('이미 사용 중인 아이디입니다.');
                    document.getElementById('userIdValidation').textContent = '중복된 아이디입니다.';
                    document.getElementById('userIdValidation').classList.add('invalid');
                    isIdValidated = false;
                } else {
                    alert('사용 가능한 아이디입니다!');
                    document.getElementById('userIdValidation').textContent = '사용 가능한 아이디입니다!';
                    document.getElementById('userIdValidation').classList.remove('invalid');
                    isIdValidated = true;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('서버 오류가 발생했습니다.');
            });
        })
        
         // 중복확인 후 로직
         document.getElementById('joinBtn').addEventListener('click', function(e) {
            const password = document.getElementById('password').value
            if (!isIdValidated) {
                alert('중복 확인을 하세요')
                e.preventDefault();
                return;
            }
            
        
        if(passwordRegex.test(password)) {
            alert("환영합니다! 회원가입 되었습니다.")
        } else {
            alert("비밀번호가 조건에 부합하지 않습니다.");
            document.getElementById('passwordValidation').textContent = '비밀번호를 다시 입력해주세요.';
            e.preventDefault()
            
        }
 });
    
</script>


</body>


</html>