<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <section class="sec">
    <h2>로그인</h2>
    <form class="form-box" action="/login" method="POST">
      <input name="username" placeholder="아이디">
      <input name="password" placeholder="비밀번호" type="password">
      <button>로그인</button>
    </form> 
  </section>
</body>
</html>