<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/myReviews.css">
</head>
<body>
  <main>
    <section class="container-lg">

        <h1 class="myReviewTitle">내 리뷰 목록</h1>
        <div class="myReview-box">
            <ul class="myReviews">
                <% for(let i = 0; i < myReviews.length; i++) { %>
                <li>
                  <div class="lookMyReviews">
                    <div class="resName">
                      <% for(let j = 0; j < restaurantName.length; j++) { %>
                        <% if (restaurantName[j].restaurantId === myReviews[i].restaurantId) {%>
                          <h2 class="resTitle"><%= restaurantName[j].restaurantName %></h2>
                        <% } %>
                      <% } %>  
                    </div>
                    <!-- 리뷰 이미지 -->
                    <div class="myReviewImg ">
                        <% for(let j = 0; j < myReviewsImg.length; j++) { %>
                            <% if (myReviewsImg[j].reviewId === myReviews[i].reviewId) { %>
                                <img src="/reviews/<%=myReviewsImg[j].imgUrl %>" alt="Review Image" class="myReviews-img">
                            <% } %>
                        <% } %>
                    </div>
                    <!-- 리뷰 내용 -->
                    <div class="content">
                      <p><%= myReviews[i].content %></p>
                    </div>
                    <!-- 리뷰 평점 -->
                    <div class="gradeRating col">
                        <% let rating = myReviews[i].rating; %>
                        <% for (let j = 0; j < rating; j++) { %>
                        <i class="bi bi-star-fill"></i>
                        <% } %>
                        <% for (let j = rating; j < 5; j++) { %>
                        <i class="bi bi-star"></i>
                        <% } %>
                    </div>
                    <div class="createdAt">
                      <p>작성일 : <%= formatDate(myReviews[i].createdAt)%></p>
                    </div>
                  </div>
                </li>
                <% } %>
            </ul>
        </div>

    </section>
</main>

  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>