* { margin: 0; padding: 0; box-sizing: border-box;} 
ul,ol,li { list-style: none; padding: 0;} 
a { text-decoration: none; } 

header { padding: 20px 0 20px; border-bottom: gray solid 1px; } 
header img { width: 200px; } 

.header-content{
  display: flex;
  justify-content: center;
}

/* findPassword.ejs */
.content{
  margin: 200px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .title{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgray;
}
.content .title h2{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}


.content .text{
  margin: 30px 0;
  text-align: center;
}

.content .text p{
  margin: 5px 0;
  font-size: 14px;
  font-weight: 600;
}

.content .button_box{
  width: 100%;
}

.content .button_box button{
  width: 100%;
  height: 40px;
  font-size: 13px;
  background-color:#222222 ;
  color: #ffffff;
}



.question {
  width: 100%;
  padding: 0;
  font: 18px "inherit";
  border-radius: 5px;

}

.findEmail, .findPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  background-color: white;
  font-size: 18px;
  line-height: 1.5;
  transition: all 0.5s ease;
  width: 100%;
  display: none;
  margin-bottom: 30px;
  padding: 0;
}

input{text-align: center;}
.email-wrap {
  display: flex;
  justify-content: center;
  width: 200px;

}

.radiobtn{
  display: flex;
  justify-content: center;
}
/* findEmail */

.btn-box{
  display: none;
  justify-content: center;
  align-items: center;
}
.loginBtn{display: flex; justify-content: center; padding: 50px 0;}
.find-box{width: 100%; margin-bottom: 20px; justify-content: center; align-items: center; flex-direction: column;}
.find-box tr input{width: 200px; height: 30px;}
.find-box th{width: 100px; text-align: center;}
.find-box td{padding: 12px 24px;}

.find-btn{display: flex; justify-content: center;}




