* { margin: 0; padding: 0; box-sizing: border-box; } 
ul,ol,li { list-style: none; } 
a { text-decoration: none; }
p{margin: 0; color: black;}

section{ width: 1350px;}

/* 왼쪽 박스 */
main{
  padding: 30px 0;
  background-color: #f0f0f3;  justify-content: center; align-items: center;
}

.select{width: 260px; border: 1px solid black; border-radius: 5px;}

.sel-social{padding-top: 10px;}
.title{align-items: center; padding: 3px 16px 9px;}
.square{height: 10px; width: 10px; border-radius: 2px; margin-right: 6px;}
h4{font-size: 24px; font-weight: 700; margin: 0;}

.filterOption{padding: 0 16px; margin: 0;}

.filterOption .filterBtn{padding: 5px 0;}
.filterBtn .filterBtn-click{align-items: center;}
.filterBtn-click img{margin-right: 10px;}

.peopleGroup{margin: 0; padding: 0 0 0 16px;}

.CategoryGroup, .gender{padding-left: 16px;}

.open{width: 100%;}

.question {
  padding: 0;
  font: 18px "inherit";
  width: 100%;
  border-radius: 5px;
  border: black 0.5px solid;
}

.question span{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}


.answer {
  /*background-color: yellow;*/
  font-size: 18px;
  line-height: 1.5;
  transition: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  /* padding: 0 30px; */
  padding: 0;
}

.city_list {
  /* overflow: scroll;  가로 스크롤*/ 
  max-height: 200px; /* 스크롤이 보일 최대 높이를 지정하세요 */
  overflow-y: auto; /* 세로 스크롤을 만듭니다. */
  margin: 20px 0 0 0;
  padding: 0 0 0 15px ;
  cursor: pointer;
}

.city_list li:hover{background-color: rgb(204, 205, 206);}

  .form-check-input:checked + .form-check-label::before {
    background-color: #124886 !important;
  }


/* 오른쪽 박스 */

.food-shop{width: 900px;  overflow-x: auto;}
.order-wrap{
  border-bottom: 1px solid rgb(245, 245, 245);
  border-top-right-radius:14px;
  border-top-left-radius: 14px;
}

.range{width: 80px; border-right: 1px solid rgb(245, 245, 245); justify-content: center; align-items: center; display: flex;}

.order{ align-items: center; justify-content: center; display: flex;}
.order .yeon{margin: 0 0 0 20px;}
.order .grade{ margin: 0 0 0 10px;}
.order .review{margin: 0 0 0 10px;}
.order .like{margin: 0 0 0 10px;}
.order .load{margin: 0 20px 0 10px;}
.order button{height: 34px; border-radius: 6px; cursor: pointer;}
.order button span{margin: 0 15px;}

.r-btn button{height: 62px; padding: 0 20px; border : 1px solid black;}

button{background-color: white;}


.map{width: 400px; height: 400px;}

.look-shop{padding: 20px 20px; cursor: pointer;}
.shop-h:hover{background-color: rgb(243, 239, 239);}

.info{padding: 2px 0 2px 16px;}
.info .shop-name{margin-bottom: 10px; font-size: 24px;}
.info .hash{margin: 0;}
.info .category{margin: 0;}


img{width: 16px; height: 16px;}

.title-img{padding: 0; border-radius: 10px; width: 110px; height: 110px;}

.rate .score{margin-right: 5px;}
.rate .user-score{margin-right: 5px;}

.request .inner{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}
.request h1{font-size: 20px;}
.request button{
  padding: 14px 101px;
  background-color:rgb(25, 183, 194);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}
.request span{
  color: rgb(158, 158, 158);
  font-size: 14px;
}
