*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li {list-style: none;}
  a {text-decoration: none;}

.form-box div{
  display: flex;
}

.form-box div label{
  display: flex;
  justify-content: start;
  margin-right: 50px;
}
