a{color: black;}

/* 헤더 */
.header{margin-bottom: 30px; margin-top: 30px}
.header ul{margin: 0;}
.header .logo{margin: 0;}
.header .logo .logo-img{width: 100%; height: 100%;}
.header .search_box{
  width: 80%; height: 40px;
  padding: 20px; font-size: 14px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  border: none;
}


/* 유저 버튼 */

.user li{padding: 0 10px;}


/* nav */
nav{
  background-color: #e5e5e5; 
  height: 50px;
  display: flex; align-items: center;
  margin-bottom: 20px;
}
nav .nav-box{}
nav .nav-ul{gap: 20px; margin: 0; padding: 0 0 0 20px ;}
nav .nav-ul .nav-li a:hover{color: gray; cursor: pointer; transition: 0.5s;}



/* footer */
footer { white-space: nowrap;}

footer li::after { content: " |"; } 

.footerPage { text-align: left; font-size: 14px; margin-top: 50px;} 

.footerPage ul { padding: 0; } 
.footerPage .terms { font-weight: bold; margin-bottom: 24px; } 
.footerPage .info { margin-bottom: 9px; } 

.footerPage .info .mainName { font-size: 15px; } 
.footerPage li {padding: 0 0 0 10px; } 

.footerPage p { margin-bottom: 9px; } 